.skills-bar{
    direction: ltr;
    margin: 0 auto;
    max-width: 600px;
    .bar-fill {
        height: 10px;
        background: var(--color-success-dark);
        transition: opacity .4s ease-in;
        margin-right: 1rem;
    }
    .skill-list{
        li{
            transform: translateX(-70px);
            transition: transform .4s ease-in;
            &.fadeIn{
                transform: translateX(0);
            }
        }
        .name{
            flex: 0 0 90px;
            max-width: 90px;
            text-align: left;
            margin-right: 1rem;
        }
    }
}