@import "bundle";
.skills-bar{
    direction: ltr;
    margin: 0 auto;
    max-width: 600px;
    .bar-fill {
        height: 10px;
        width: 0;
        background: var(--color-success-dark);
        transition: width .4s ease-in;
    }
    .skill-list{
        li{
            transform: translateX(-10px);
            margin-bottom: 1rem;
            &.fadeIn{
                transform: translateX(0);
                transition: transform .4s ease-in;
            }
            @include media-breakpoint-up(md){
                 transform: translateX(-70px);
            }
        }
        .name{
            flex: 0 0 125px;
            max-width: 125px;
            text-align: left;
            margin-right: 1rem;
        }
        .percentage{
            margin-left: 1rem;
        }
    }
}