.skills-bar{
    direction: ltr;
    margin: 0 auto;
    max-width: 600px;
    .bar-fill {
        height: 10px;
        width: 0;
        background: var(--color-success-dark);
        transition: width .4s ease-in;
    }
    .skill-list{
        li{
            transform: translateX(-70px);
            transition: transform .4s ease-in;
            margin-bottom: 1rem;
            &.fadeIn{
                transform: translateX(0);
                .bar-fill{
                    &.html{
                        width: 92%;
                    }
                    &.css{
                        width: 86%;
                    }
                    &.scss{
                        width: 80%;
                    }
                    &.less{
                        width: 65%;
                    }
                    &.js{
                        width: 40%;
                    }
                }
            }
        }
        .name{
            flex: 0 0 90px;
            max-width: 90px;
            text-align: left;
            margin-right: 1rem;
        }
        .percentage{
            margin-left: 1rem;
        }
    }
}