<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <i class="material-icons-outlined">call</i>
                <label class="uppercase">+972-523-764820</label>
            </div>
            <div class="ccol-12 col-md-4 mb-4 mb-md-0">
                <i class="material-icons-outlined">alternate_email</i>
                <label class="uppercase">ilank7@gmail.com</label>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <i class="material-icons-outlined">location_on</i>
                <label class="uppercase">Natanya</label>
            </div>
        </div>
    </div>
</footer>