@import "bundle";
:host-context([data-theme="dark"]){
    footer{
        background-color: var(--color-black);
    }
}
footer{
    color: var(--color-white);
    font-size: 1.5rem;
    min-height: $app-layout-padding;
    background-color: var(--color-primary-darker);
    width: 100%;
    padding: 1rem 0;
    margin: -$app-layout-padding 0 0 0;
    position: relative;
    z-index: 101;
    small{
        font-size: .875rem;
    }
}