
.section{
    &-full{
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    &.reset{
        padding: 0;
        min-height: 0;
    }
}

.animated {
    opacity: 0;
    transition: opacity .4s ease-in;
    &.fadeIn {
        opacity: 1;
    }
}
.scroll-offset{
    height: $header-height-mobile;
    width: 100%;
    @include media-breakpoint-up(md){
        height: $header-height-scrolled;
    }
}

//rtl global 
[dir="rtl"] {
    .profile-img{
        transform: scaleX(-1);
    }
}