@import "bundle";
:host#header{
    transition: height .5s ease-in-out;
    height: $header-height-mobile;
    @include media-breakpoint-up(md){
        height: $header-height-lg;
    }
    &.scrolled{
        @include media-breakpoint-up(md){
            height: $header-height-scrolled;
        }
        .header-tpl{
            box-shadow: 0px 3px 6px rgba(0,0,0,.3);
            transition: box-shadow .5s ease-in-out;
            .header-wrapper{
                @include media-breakpoint-up(md){
                    padding-top: .6rem;
                    transition: padding-top .5s ease-in-out;
                }
            }
            .logo{
                flex: 0 0 80px;
                transition: all .5s ease-in-out;
                @include media-breakpoint-up(md){
                    flex: 0 0 100px;
                }
            }
            .profile-img{
                opacity: 1;
                transform: scale(1);
                height: 60px;
                width: 60px;
                top: -3px;
                @include media-breakpoint-up(md){
                    top: -5px;
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }
}
.header-tpl{
    @include font-size-map($nav-font-size);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: box-shadow .5s ease-in-out;
    background-color: var(--color-bg);
    .header-wrapper{
        padding-top: .5rem;
        width: 100%;
        position: relative;
        z-index: 1;
        @include media-breakpoint-up(md){
            padding-top: 1rem;
            transition: padding-top .5s ease-in-out;
        }
    }
    .logo{
        cursor: pointer;
        @extend %oswald;
        color: var(--color-primary-dark);
        font-size: 1.4rem;
        align-self: stretch;
        align-items: center;
        flex: 0 0 80px;
        position: relative;
        width: auto;
        z-index: 1;
        transition: all .5s ease-in-out;
        @include media-breakpoint-up(md){
            flex: 0 0 120px;
            font-size: 1.6rem;
        }
    }
    .profile-img{
        position: absolute;
        top: -3px;
        left: 0;
        border: 1px solid var(--color-contrast-low);
        background-color: var(--color-contrast-lower);
        border-radius: 50%;
        overflow: hidden;
        height: 80px;
        width: 80px;
        padding: 0;
        transition: all .5s ease-in-out;
        img{
            width: 100%;
        }
        @include media-breakpoint-up(md){
            top: -10px;
            height: 120px;
            width: 120px;
        }
    }
    .mid-area{
        position: relative;
        z-index: 2;
        order: 3;
        @include media-breakpoint-up(lg){
            order: 2;
            width: 100%;
        }
    }
    .right-area{
        order: 2;
        width: 100%;
        z-index: 1;
        @include media-breakpoint-up(lg){
            order: 3;
            width: auto;
        }
    }
    .extra-height{
        height: 10px;
        width: 100%;
        background-color: var(--color-bg);
    }
    &-pro{
        @include font-size-map($nav-font-size);
        margin: 0;
        width: 100%;
        z-index: 100;
        transition: box-shadow .5s ease-in-out;
        .header-wrapper{
            width: 100%;
            position: relative;
            z-index: 1;
            @include media-breakpoint-up(md){
            }
        }
        .logo{
            cursor: default;
            @extend %oswald;
            color: var(--color-primary-dark);
            font-size: 1.4rem;
            align-self: stretch;
            align-items: center;
            flex: 0 0 120px;
            position: relative;
            width: auto;
            z-index: 1;
            transition: all .5s ease-in-out;
            @include media-breakpoint-up(md){
                font-size: 1.6rem;
            }
        }
        .profile-img{
            position: absolute;
            top: -10px;
            left: 0;
            border: 1px solid var(--color-contrast-low);
            background-color: var(--color-contrast-lower);
            border-radius: 50%;
            overflow: hidden;
            height: 120px;
            width: 120px;
            padding: 0;
            transition: all .5s ease-in-out;
            img{
                width: 100%;
            }
        }
        .mid-area{
            position: relative;
            z-index: 2;
            order: 3;
            @include media-breakpoint-up(md){
                order: 2;
                width: 100%;
            }
        }
        .right-area{
            order: 2;
            width: 100%;
            z-index: 1;
            @include media-breakpoint-up(md){
                order: 3;
                width: auto;
            }
        }
    }
} 

