@each $btnName, $hex in $button-colors {
    .ts-btn-#{$btnName}{
        background-color: nth($hex, 1);
        color: nth($hex, 2 );
        transition: all .5s;
        &:hover{
            color: nth($hex, 2 );
            background-color: nth($hex, 3);
        }
    }
}

@each $signName, $sign in $currency {
    button.#{$signName}{
        &:before{
            content: $sign;
        }
    }
}

button,
a[role="button"]{
    font-size: 1rem;
    transition: all .3s ease-in-out;
    border: 0;
    @include border-radius(5px);
    padding: .5rem 1rem;
    min-width: 150px;
    i,
    span{
        font-size: inherit;
        // line-height: 1.1rem;
        position: relative;
        top: 0;
        left: 0;
    }
    &.reset{
        background-color: transparent;
        @include border-radius(0);
        padding: 0;
        min-width: auto;
    }
}