<section class="skills-tpl section-full" [ngClass]="{'skills-bg triangle' : !ispro, 'section-pro pro' : ispro}">
    <div class="scroll-offset" *ngIf="!ispro"></div>
    <div class="text-center d-flex align-items-center" [ngClass]="{'f--color-white-dark' : !ispro, 'f--color-contrast-higher' : ispro}">
        <div class="container animated" animateOnScroll animationName="fadeIn">
           <h2 class="header mb-2">{{'skills.title' | translate}}</h2>
           <h3 class="mb-5">{{'skills.Subtitle' | translate}}</h3>
           <app-skills-bar></app-skills-bar>
        </div>
    </div>
</section>