<section class="skills-tpl section-full skills-bg " [ngClass]="{'pro' : ispro}">
    <div class="scroll-offset" *ngIf="!ispro"></div>
    <div class="text-center d-flex align-items-center" [ngClass]="{'f--color-contrast-lower' : !ispro, 'f--color-contrast-higher' : ispro}">
        <div class="container animated" animateOnScroll animationName="fadeIn">
           <h2 class="header mb-2">Professional Skills</h2>
           <h3 class="mb-5">Windows & Web Application</h3>
           <app-skills-bar></app-skills-bar>
        </div>
    </div>
</section>