@import "bundle";
.skills-tpl{
    margin-top: 50px;
    .skills-bg{
        background: url('/assets/imgs/backgrounds/intro-bg.jpg') center top no-repeat transparent;
        background-size: cover;
        min-height: 300px;
        @include media-breakpoint-up(md){
            min-height: 650px;
            background-attachment: fixed;
        }
    }
}
