@import "bundle";
.skills-tpl{
    &.skills-bg{
        // background: url('/assets/imgs/backgrounds/intro-bg.jpg') center top no-repeat transparent;
        // background-size: cover;
        background: rgb(94,94,94);
        background: linear-gradient(90deg, rgba(94,94,94,1) 0%, rgba(171,171,171,1) 100%);
        background-attachment: fixed;
        min-height: 300px;  
        padding: 15px 0 60px 0;
        overflow: visible;
        @include media-breakpoint-up(md){  
            min-height: 650px;  
        }
        &.pro{
           background: var(--color-contrast-lower);
        }
    }
}
