<ng-scrollbar #projectsScrollPro track="all" pointerEventsMethod="scrollbar" *ngIf="ispro">
    <section class="projects-tpl section-full section-pro pro">
        <div class="text-center f--color-contrast-higher d-flex align-items-center">
            <div class="container animated" animateOnScroll animationName="fadeIn">
                <h2 class="header">
                    {{'projects.title' | translate}}
                </h2>
                <app-gallery-modal></app-gallery-modal>
            </div>
        </div>
    </section>
</ng-scrollbar>

<section class="projects-tpl section-full bg--color-contrast-low" *ngIf="!ispro">
    <div class="scroll-offset"></div>
    <div class="text-center f--color-contrast-higher d-flex align-items-center">
        <div class="container animated" animateOnScroll animationName="fadeIn">
            <h2 class="header">
                {{'projects.title' | translate}}
            </h2>
            <app-gallery-modal></app-gallery-modal>
        </div>
    </div>
</section>

