$button-colors: (
    primary: (var(--color-primary), var(--color-white), var(--color-primary-dark)),
    default: (var(--color-primary-dark), var(--color-white), var(--color-primary-darker))
);

$currency:(
    dollar: "$",
    percentage: "%"
);