.app-wrapper{
    height: 100%;
    main{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        background-color: var(--color-bg);
        min-height: 100%;
        height: auto !important;
        margin: 0 auto;
        padding: 0 0 100px;
        & > section{
            padding: 20px 0;
        }
    }
}