<ul class="experience-list d-flex flex-column justify-content-start">
    <li class="animated" animateOnScroll animationName="fadeIn" *ngFor="let experience of experienceList">
        <span class="date f--color-success-darker d-block normal">{{experience.date}}</span>
        <label>{{experience.company}}</label>
        <h6>{{experience.jobTitle}}</h6>
        <p class="mt-2">
            <span *ngFor="let description of experience.description">
                {{description.description}}
            </span>
        </p>
    </li>
</ul>