<button type="button" class="toggle-nav align-self-center ml-4 mr-1 my-2 d-md-none" (click)="sideNavBtnToggle()"
    [ngClass]="{ 'active': tsNav }">
    <i class="nav-icon"></i>
</button>
<nav id="nav" class="d-flex align-items-start align-items-md-center flex-column flex-md-row"
    [ngClass]="{ 'open': tsNav }">
    <ul class="d-flex main-nav">
        <li class="about">
            <button type="text" class="" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <label>{{'nav.about' | translate}}</label>
            </button>
        </li>
        <li class="skills">
            <button type="text" class="" routerLink="skills" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <label>{{'nav.skills' | translate}}</label>
            </button>
        </li>
        <li class="experience">
            <button type="text" class="" routerLink="experience" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <label>{{'nav.experience' | translate}}</label>
            </button>
        </li>
        <li class="gallery">
            <button type="text" class="" routerLink="gallery" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <label>{{'nav.gallery' | translate}}</label>
            </button>
        </li>
        <li class="contact">
            <button type="text" class="" routerLink="contact" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <label>{{'nav.contact' | translate}}</label>
            </button>
        </li>
    </ul>
</nav>