<button type="button" class="toggle-nav align-self-center my-2 d-md-none" (click)="sideNavBtnToggle()"
    [ngClass]="{ 'active': tsNav }">
    <i class="nav-icon"></i>
</button>
<nav id="nav" class="d-flex align-items-start align-items-md-center flex-column flex-md-row"
    [ngClass]="{ 'open': tsNav }">
    <ul class="d-flex main-nav">
        <li class="about">
            <button type="text" class="" (click)="onClick('about')">
                <label>{{'nav.about' | translate}}</label>
            </button>
        </li>
        <li class="experience">
            <button type="text" class="" (click)="onClick('experience')">
                <label>{{'nav.experience' | translate}}</label>
            </button>
        </li>
        <li class="skills">
            <button type="text" class="" (click)="onClick('skills')">
                <label>{{'nav.skills' | translate}}</label>
            </button>
        </li>
        <!-- <li class="gallery">
            <button type="text" class="" routerLink="gallery" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <label>{{'nav.gallery' | translate}}</label>
            </button>
        </li> -->
        <li class="contact">
            <button type="text" class="" (click)="onClick('contact')">
                <label>{{'nav.contact' | translate}}</label>
            </button>
        </li>
    </ul>
</nav>