<section class="contact-tpl section-full contact-bg">
    <div class="scroll-offset"></div>
    <div class="text-center f--color-contrast-high d-flex align-items-center">
        <div class="container">
            <h2 class="mb-5">
                <span class="mr-2 f--color-primary-dark uppercase">contact me</span>
            </h2>
            <div class="row text-center">
                <div class="col-12 col-md-4 mb-4 mb-md-0 animated" animateOnScroll animationName="fadeIn">
                    <a href="tel:+972-523-764820">
                        <span class="icon">
                            <i class="material-icons-outlined">call</i>
                        </span>
                        <label class="uppercase">+972-523-764820</label>
                    </a>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-md-0 animated" animateOnScroll animationName="fadeIn">
                    <a href="https://mail.google.com/a/gmail.com/?view=cm&fs=1&to=ilank7@gmail.com" target="_blank">
                        <span class="icon">
                            <i class="material-icons-outlined">alternate_email</i>
                        </span>
                        <label class="uppercase">ilank7@gmail.com</label>
                    </a>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-md-0 animated" animateOnScroll animationName="fadeIn">
                    <span class="icon d-block">
                        <i class="material-icons-outlined">location_on</i>
                    </span>
                    <label class="uppercase">Natanya</label>
                </div>
            </div>
        </div>
    </div>
</section>