<section class="about-tpl section-full" #contact>
    <div class="intro-bg text-center f--color-white d-flex align-items-center py-4">
        <div class="container animated" animateOnScroll animationName="fadeIn">
            <div class="row">
                <div class="col-12 col-md-6 text-left">
                    <a href="https://mail.google.com/a/gmail.com/?view=cm&fs=1&to=ilank7@gmail.com" target="_blank">Send me an
                        Email</a>
                </div>  
            </div>
        </div>
    </div>
</section>