// Switch themes style
.select-language-tpl{
    .select-language-btn{
        font-size: .875rem;
        &.selected{
            color: var(--color-primary);
            font-weight: bold;
        }
    }
}