<div class="select-language-tpl d-flex" [ngClass]="{'ml-2': !ispro, 'pro flex-column': ispro}">
    <button class="reset select-language-btn f--color-contrast-high" #langSelect type="button"
        *ngFor="let lang of translate.getLangs()" [value]="lang"
        [attr.selected]="lang === translate.currentLang ? '' : null"
        [ngClass]="{'selected' : lang === translate.currentLang, 'border-right pr-2 mr-2' : !ispro, 'py-2': ispro}"
        
        (click)="switchLang(langSelect.value);setDirection(lang)">{{lang | titlecase}}
    </button>
</div>