.scroll-top-tpl{
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .4s ease-in-out;
    z-index: 102;
    &.show-scroll-top {
        opacity: 1;
        transition: all .4s ease-in-out;
    }
    button{
        min-width: auto;
        border-radius: 20px;
        padding: 0;
        i{
            padding: 8px 12px;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
