<section class="about-tpl section-full">
    <div class="intro-bg text-center f--color-white d-flex align-items-center py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-left">
                    <h2>
                        <span class="mr-2 f--color-primary uppercase">{{'about.hi' | translate}},</span><span>{{'about.im' | translate}}</span>
                    </h2>
                    <h1 class="title mb-2 uppercase">{{'about.name' | translate}}</h1>
                    <h4 class="d-block f--color-primary uppercase">{{'about.title' | translate}}</h4>
                    <form class="mt-5" method="get" action="../../../assets/pdf/Ilan_Kader_CV.pdf">
                        <button class="ts-btn-primary uppercase" type="submit">Download resume</button>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    asdsadasds
                </div>
            </div>
        </div>
    </div>
</section>