<section class="about-tpl section-full" #about>
    <div class="intro-bg text-center f--color-white d-flex align-items-center py-4">
        <div class="container animated" animateOnScroll animationName="fadeIn">
            <div class="row">
                <div class="col-12 col-md-6 text-left">
                    <h2>
                        <span class="mr-2 f--color-primary uppercase">{{'about.hi' | translate}},</span><span>{{'about.im' | translate}}</span>
                    </h2>
                    <h1 class="title mb-2 uppercase">{{'about.name' | translate}}</h1>
                    <h4 class="d-block f--color-primary uppercase">{{'about.title' | translate}}</h4>
                    <div class="mt-5">
                        <a href="https://drive.google.com/file/d/14bjnWJzF2oUp1aB8xAnHUxfpsTv7cW1A/view?usp=sharing" target="_blank" class="ts-btn-primary uppercase px-5 py-2 d-inline-flex" role="button">
                            {{'about.button' | translate}}
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    
                </div>
            </div>
        </div>
    </div>
</section>