@import "bundle";
.experience-tpl{
    direction: ltr !important;
    .experience-bg{
        // background: url('/assets/imgs/backgrounds/me.jpg') right bottom no-repeat transparent;
        // background-size: cover;
        background: rgb(0,49,72);
        background: linear-gradient(90deg, rgba(0,49,72,1) 0%, rgba(3,73,106,1) 100%, rgba(3,73,106,1) 100%);
        min-height: 300px;
        @include media-breakpoint-up(md){
            min-height: 650px;
            background-attachment: fixed;
        }
    }
}
